@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");

/* ============================================= */
/* =============== Primary style =============== */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font: 12px/1 'Montserrat', sans-serif;
	min-width: 1300px;
}

body, html {
	height: 100%;
}

a {
	color: #3e3947;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.cd-img-replace {
	/* replace text with a background-image */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

/* ============================================= */
/* ============== Main components ============== */

.cd-section {
	min-height: 100%;
	position: relative;
	padding: 2em 0;
}

.cd-section h1 {
	color: white;
	font-weight: 700;
	font-size: 3.5em;
	text-align: center;
	text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	position: absolute;
	top: 35%;
	left: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.cd-section p {
	color: white;
	font-size: 2em;
	line-height: 1.6;
	max-width: 768px;
	text-align: justify;
	text-justify: inter-word; 
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.cd-section #logo {
	max-width: 450px;
	position: absolute;
	margin-top: 2%;
	top: 30%;
	left: 50%;
	right: auto;
	bottom: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.cd-section #slogan {
	color: white;
	font-size: 2.6em;
	font-weight: 300;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	position: absolute;
	margin-top: 2%;
}

.main-nav {
  float: right;
  cursor: pointer;
  padding: 0.5% 2%;
}

.main-nav .cd-signin {
	color: white;
	background: transparent;
	border: 2px solid white;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	padding: .5em 1.5em;
	border-radius: 50em;
	-webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
}

.main-nav .cd-signin:hover {
	color: black;
	background: white;
}

.section-nav {
	position: absolute;
	margin-top: 1em;
	top: 65%;
	left: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.section-nav li {
    display: inline-block;
    margin: 1em;
}

.section-nav #signup, .section-nav #learnmore {
	color: white;
	padding: .6em 3em;
    border-radius: 50em;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
}
 
.section-nav #signup {
	background: #2f889a;
	
	border: 2px solid #2f889a; 
}

.section-nav #learnmore {
	background: transparent;
	border-radius: 50em;
	border: 2px solid rgba(255, 255, 255, 0.6); 
}

.section-nav #signup:hover {
	background-color: #3599ae;
}

.section-nav #learnmore:hover {
	color: black;
	background-color: white;
}

.cd-scroll-down {
	width: 38px;
	height: 44px;
	position: absolute;
	left: 50%;
	right: auto;
	bottom: 20px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
}

#vertical-nav {
	position: fixed;
	right: 40px;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
}
#vertical-nav li {
	text-align: right;
}
#vertical-nav a {
	display: inline-block;
	-webkit-backface-visibility: hidden;/* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
	backface-visibility: hidden;
}
#vertical-nav a:after {
	content: "";
	display: table;
	clear: both;
}
#vertical-nav a span {
	float: right;
	display: inline-block;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
}
#vertical-nav a:hover span {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
#vertical-nav a:hover .cd-label {
	opacity: 1;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}
#vertical-nav a.is-selected .cd-dot  {
	background-color: white;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

#vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
#vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
