@import url("http://fonts.googleapis.com/css?family=Montserrat:300,400,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");

/* ============================================= */
/* =============== Primary style =============== */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font: 12px/1 'Montserrat', sans-serif;
	min-width: 1300px;
	width: 100%;
	background-image: url("../img/bg/9.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

body, html {
	height: 100%;
}

input, textarea {
  font-size: 16px;
}

input::-ms-clear, textarea::-ms-clear {
  display: none;
}

/* ============================================= */
/* ============== Main components ============== */

#logo {
	max-width: 450px;
	position: absolute;
	top: 30%;
	left: 50%;
	right: auto;
	bottom: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#signup {
	margin-top: 1%;
	width: 30%;
	max-width: 600px;
	background: #FFF;
	cursor: auto;
	border-radius: 0.25em;
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.signup-form {
  padding: 1.4em;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.signup-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}

.signup-form .fieldset:first-child {
  margin-top: 0;
}

.signup-form .fieldset:last-child {
  margin-bottom: 0;
}


.signup-form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.signup-form label.cd-username {
	background-image: url("../img/cd-icon-username.svg");
}

.signup-form label.cd-email {
  background-image: url("../img/cd-icon-email.svg");
}

.signup-form label.cd-password {
  background-image: url("../img/cd-icon-password.svg");
}

.signup-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}

.signup-form input.full-width {
  width: 100%;
}

.signup-form input.has-padding {
  padding: 12px 20px 12px 50px;
}

.signup-form input.has-border {
  border: 1px solid #d2d8d8;
}

.signup-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}

.signup-form input.has-error {
  border: 1px solid #d76666;
}

.signup-form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px;
}

.signup-form input[type=submit] {
	padding: 16px 0;
	cursor: pointer;
	background: #2f889a;
	color: #FFF;
	font-weight: bold;
	border: none;
}

.signup-form input[type=submit]:hover {
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
	background: #3599ae;
}

.signup-form .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}

.signup-form .cd-error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}

.taken {
  /* triangle */
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.signup-form-bottom-message {
  position: absolute;
  width: 100%;
  padding-top: 3%;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  color: #FFF;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

.signup-form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}
